@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic';

@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/MyriadProBold/MyriadProBold.woff") format("woff"),
        url("../fonts/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* bootstrap hack:fix content width inside hidden tabs */
.tab-content>.tab-pane:not(.active),
.pill-content>.pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

/* bootstrap hack end */


::-webkit-input-placeholder {
    color: #848484;
}

::-moz-placeholder {
    color: #848484;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #848484;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #848484;
}

* {
    position: relative;
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

textarea {
    max-width: 100%;
}

.text-right {
    text-align: right;
}

table {
    width: 100%;
}

label span {
    color: #f85155;
}

html,
body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

.content {
    padding-bottom: 90px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}


.left-panel {
    background: #f0f0f0;
    width: 247px;
    position: fixed;
    vertical-align: top;
    padding: 0 0 67px;
    z-index: 300;
    top: 0;
    height: 100%;
}


ul.pagination-area {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    float: none;
}

.pagination-area li {
    padding: 3px 8px;
    margin: 0 0px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    color: #7d7d7d;
    float: none;
    border-radius: 5px;
}

ul.pagination-area {
    margin-top: 10px;
}


.pagination-area li.active {
    background: #eeeeee;
    font-weight: 600;
}

.all-icons i {
    margin-left: -5px;
}

.pagination-area li a {
    color: #7d7d7d;
}


.navbar-inverse {
    background-color: #2d88ae;
    border-color: #2d88ae;
}

.navbar-brand {
    width: 104px;
    height: 22px;
    background: url(../img/logo.png) 0 0 no-repeat;
    background-size: contain;
}

li {
    list-style: none;

}

body {
    background: url(../img/bg.png) 0 0 repeat-x;
}


html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;

}

a.navbar-brand {
    margin-top: 14px;
}


.header-cabinet h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: #c3d9de;
}

.header-cabinet {
    margin-top: 0;
    margin-bottom: 21px;
}

.content {
    padding-top: 51px;
}

.bottom-menu-area li {
    float: left;
    color: #fff;
}

.bottom-menu-area li a {
    color: #cbe4e2;
}

.bottom-menu-area ul {
    padding-left: 0;
}

.bottom-menu-area ul li {
    margin-right: 30px;
}

.navbar-nav {
    float: right;
    margin: 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

body .navbar-fixed-top .user {
    width: 16px;
    height: 18px;
    background: url(../img/user.png) 0 0 no-repeat;
    margin-top: 16px;
    margin-left: 20px;
    background-size: cover;
    display: block;
    padding: 0;
}

.bottom-menu-area {
    background: #1b779d;
    padding: 14px;
    font-size: 16px;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.content-area {
    background: #fff;
    border-radius: 10px;
    margin-top: 0px;
    padding-bottom: 35px;
}

.bottom-menu-area li a.active {
    color: #fff;
}

.main-panel {
    background: #e0eef2;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.icon-panel {
    font-size: 16px;
    font-weight: 300;
    float: left;
    margin-top: 28px;
    color: #3496AF;
}

.icon-panel span {
    width: 79px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}


.energy:before {
    content: '';
    position: absolute;
    background: url(../img/p1.png) 0 0 no-repeat;
    width: 33px;
    height: 38px;
    background-size: contain;
    margin-top: -31px;
    margin-left: 15px;
}

.poketball:before {
    content: '';
    position: absolute;
    background: url(../img/p2.png) 0 0 no-repeat;
    width: 33px;
    height: 36px;
    background-size: contain;
    margin-top: -33px;
    margin-left: 21px;
}

.pokemon:before {
    content: '';
    position: absolute;
    background: url(../img/p3.png) 0 0 no-repeat;
    width: 33px;
    height: 38px;
    background-size: contain;
    margin-top: -32px;
    margin-left: 24px;
}

.main-area-1,
.main-area-2,
.main-area-3 {
    padding: 30px;
    float: left;
}

.main-area-1 {
    width: 37%;
    border-right: 1px solid #1f82a5;
}

.main-area-2 {
    width: 39%;
    border-right: 1px solid #1f82a5;
}

.number {
    font-size: 76px;
    font-family: "MyriadProBold";
    color: #3496af;
    float: left;
    margin-top: -28px;
    margin-left: 7px;
    height: 77px;
}

.number-block {
    float: left;
}

.panel-right-buttons .button-g {
    width: 117px;
    height: 22px;
    background-color: #3BA18B;
    background-image: -moz-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -o-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -webkit-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: linear-gradient(to right, #A0DD95 0%, #24CCA8 100%);
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    display: block;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 21px;
}

.panel-right-buttons .button-n {
    width: 117px;
    height: 22px;
    background-color: #a5c6c5;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    display: block;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0;
    line-height: 21px;
}

.panel-right-buttons {
    float: right;
}

.panel-right-buttons .button-g {
    margin-bottom: 7px;
    margin-top: -6px;
}

.main-content h2 {
    font-size: 30px;
    color: #3496af;
    text-align: center;
    font-weight: 300;
}



.button-g-big {
    width: 241px;
    height: 42px;
    background-color: #E2F1F0;
    background-image: -moz-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -o-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -webkit-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: linear-gradient(to right, #A0DD95 0%, #24CCA8 100%);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    padding: 0;
    margin: 0 auto;
    line-height: 38px;
    cursor: pointer;
}


.button-g-big:hover,
.button-g-big:focus {
    color: #fff;
}


.content-area {
    min-height: 823px;
}

.bottom-menu-area ul li:last-child {
    margin-right: 0;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    float: right;
}


.user-nt {
    float: right;
}

.slick-slide {
    outline: none;
}

.main-content h2 {
    margin-top: 23px;
}


.bootstrap-select.btn-group .dropdown-toggle .caret {
    right: -9px;
    margin-top: -2px;
}

.form-control {
    background-color: #E0EFF1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
    box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
}


.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    background-color: inherit;
}

label {
    color: #898989;
    font-weight: 500;
}

.btn-default {
    color: #333333;
    border-color: #cccccc;
    background-color: #E0EFF1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
    box-shadow: inset -0.2px 1px 1px rgba(0, 0, 0, 0.18);
}


.btn-primary {
    outline: none;
}


.btn-primary {
    color: #ffffff;
    border-color: #357ebd;
    width: 250px;
    height: 38px;
    background-color: #E0EFF1;
    background-image: -moz-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -o-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -webkit-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: linear-gradient(to right, #A0DD95 0%, #24CCA8 100%);
    border: 0;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.btn-primary:hover {
    opacity: 0.8;
}


.navbar-inverse .navbar-nav>li>a {
    color: #b1cddc;
    text-transform: uppercase;
}

.bottom-menu-area li a:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    opacity: 1;
    color: #fff;
}

/* content-page-success */

.content-page-success h3 {
    font-size: 36px;
    color: #3496af;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 15px;
}

.content-page-success {
    text-align: center;
}

.content-page-success .icon-clock {
    width: 53px;
    height: 53px;
    background: url(../img/clock.png) 0 0 no-repeat;
    background-size: contain;
    margin: 33px auto 44px auto;
}


/* content-page-pokeballs */

.content-page-pokeballs .poke-area ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
}

.content-page-pokeballs .poke-area ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.pokeball-active-area,
.pokeball-no-active-area {
    padding: 18px;
    margin: 6px;
    border: 1px solid #fff;
}

.pokeball-active-area {
    cursor: pointer;
}

.poke-area {
    margin-top: 15px;
}

.pokeball-active-area:hover {
    border: 1px solid #36cea5;
    border-radius: 20px;
}


/* content-page-buisness */

.buisness-panel ul.nav.nav-tabs {
    background: #eff7f8;
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    float: none;
}

.buisness-panel ul.nav.nav-tabs li {
    padding: 0;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    font-size: 14px;
    background: none;
}

.buisness-panel ul.nav.nav-tabs li a {
    color: #898989;
}


.buisness-panel .nav-tabs>li.active>a,
.buisness-panel .nav-tabs>li.active>a:hover,
.buisness-panel .nav-tabs>li.active>a:focus {
    background: none;
    border: 0;
    border-bottom-color: transparent;
    cursor: default;
    color: #3496af;
    font-weight: bold;
}

.buisness-panel .nav-tabs>li>a:hover {
    background: none;
    border: 1px solid #eff7f8;
    opacity: 1;
}

.buisness-panel .nav-tabs>li>a:focus {
    background: none;
}

.buisness-panel .nav-tabs>li.active>a:hover {
    border: 0;
}

.buisness-panel {
    margin-top: 25px;
}

table.table.sites-tab {
    margin-top: 29px;
}

table.table.sites-tab thead {
    background: #f1f4f6;
    background: -moz-linear-gradient(top, #f1f4f6 0%, #dde1e3 100%);
    background: -webkit-linear-gradient(top, #f1f4f6 0%, #dde1e3 100%);
    background: linear-gradient(to bottom, #f1f4f6 0%, #dde1e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f4f6', endColorstr='#dde1e3', GradientType=0);
}

.table>thead>tr>th {
    border: 0;
}

table.table.sites-tab th {
    font-size: 16px;
    font-weight: 600;
    color: #323232;
}

table.table.sites-tab i.fa.fa-check {
    font-size: 18px;
    color: #3cb68b;
}

table.table.sites-tab i.fa.fa-times {
    font-size: 18px;
    color: #f85155;
    margin-left: 1px;
}

table.table.sites-tab i.fa.fa-clock-o {
    font-size: 18px;
    color: #f85155;
}

table.table.sites-tab th,
table.table.sites-tab td {
    padding-left: 30px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

table.table.sites-tab tbody tr {
    background: #f7f9fa;
}

table.table.sites-tab tbody tr:nth-child(2n) {
    background: #fff;
}

a.settings {
    color: #3496af;
    padding-left: 20px;
}

a.settings:before {
    position: absolute;
    font-size: 18px;
    font-family: FontAwesome;
    content: "\f040";
    margin-top: -3px;
    margin-left: -20px;
    color: #3496af;
}

.table-scroll-mobile {
    overflow: auto;
}

.form-tab {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
    margin-top: 10px;
}

.dropdown-menu>li>a {
    color: #555555;
}

.btn-default {
    color: #898989;
}

.form-area-tag label {
    margin-top: 15px;
}

.form-area-buttons .btn-primary:first-child {
    float: left;
}

.form-area-buttons .btn-primary:last-child {
    background-image: none;
    background-color: #a5c6c5;
    float: right;
}

.form-area-buttons {
    margin-top: 25px;
}

.form-tab h3 {
    text-align: left;
    color: #456770;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

body .form-area-buttons.btn-add-shop button {
    background-image: -moz-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -o-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -webkit-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: linear-gradient(to right, #A0DD95 0%, #24CCA8 100%);
    float: none;
    margin-top: 25px;
}


.xs-br {
    display: none;
}

.form-area-buttons button.btn.btn-primary {
    border-radius: 45px;
}

.form-area-buttons.btn-add-shop {
    width: 275px;
    margin: 0 auto;
}

.form-area-tag.form-area-buttons.btn-add-shop {
    float: left;
}

.br-shop.form-area-tag h3 {
    margin-top: 25px;
    margin-bottom: 0;
}

.form-area-tag h4 {
    font-size: 16px;
    color: #5bd3a0;
    font-weight: 700;
    margin-top: 15px;
}

.form-area-tag p {
    color: #939393;
    font-size: 16px;
    margin-top: 15px;
}

code {
    font-size: 90%;
    color: #fff;
    background-color: #456770;
    border-radius: 4px;
    width: 100%;
    display: block;
    padding: 14px;
}

.filtr-left {
    float: left;
}

.filtr-right {
    float: right;
}

.filtr-area {
    margin-top: 18px;
    overflow: hidden;
    background: #eeeeee;
    border-radius: 10px;
    padding: 20px;
}

.filtr-left input {
    outline: none;
}

.filtr-left input {
    border-radius: 11px;
    border: 0;
    padding: 3px;
    width: 218px;
    margin-left: 17px;
    margin-right: 6px;
    padding-left: 15px;
}

.filtr-left span {
    font-size: 16px;
    color: #323232;
}

.filtr-right {
    font-size: 16px;
}

.filtr-right,
.filtr-left span {
    font-style: italic;
    color: #323232;
}

.filtr-right a {
    color: #1d7ea7;
    text-decoration: underline;
    padding-left: 8px;
    font-weight: 600;
    font-style: normal;
}

.filtr-right a:hover {
    text-decoration: none;
}

.filtr-left button {
    width: 121px;
    height: 27px;
    background-color: #FFF;
    background-image: -moz-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -o-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: -webkit-linear-gradient(left, #A0DD95 0%, #24CCA8 100%);
    background-image: linear-gradient(to right, #A0DD95 0%, #24CCA8 100%);
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 5px;
    font-weight: 500;
    outline: none;
}




/* content-page-transactions */

table.table.sites-tab .green {
    font-size: 16px;
    font-weight: 600;
    color: #3cb68b;
}

table.table.sites-tab .red {
    font-size: 16px;
    font-weight: 600;
    color: #f8566d;
}

.small-red {
    color: #f8566d;
}

.transaction-tab th:nth-child(2) {
    min-width: 280px;
}

.transaction-tab th:nth-child(3) {
    min-width: 165px;
}

.filtr-left button:hover {
    opacity: 0.8;
}


/* merchant-code */

.content-page-code h5 {
    text-align: center;
    font-size: 16px;
    color: #1c789c;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-page-code ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
}

.content-page-code ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    float: none;
}

.content-page-code li:first-child a {
    border-radius: 20px 0 0 20px;
}

.content-page-code li:last-child a {
    border-radius: 0 20px 20px 0;
}

.content-page-code a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1f8fa+0,d3e8ee+100 */
    background: #f1f8fa;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f1f8fa 0%, #d3e8ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f1f8fa 0%, #d3e8ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f1f8fa 0%, #d3e8ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f8fa', endColorstr='#d3e8ee', GradientType=0);
    /* IE6-9 */
}

.content-page-code ul li a {
    border: 1px solid #3496af;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-image: none;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ffffff;
    background-color: #3496af;
    opacity: 1;
}

.content-page-code ul li a {
    border: 1px solid #3496af;
    color: #1c789c;
}

.content-page-code ul li a span {
    font-style: italic;
    font-size: 14px;
}

.enter-site {
    font-weight: normal;
    text-decoration: underline;
}

.nav>li>a:hover {
    opacity: 1;
}

.enter-site:hover {
    text-decoration: none;
}


div#merchant-tabs p {
    text-align: center;
    color: #5b5b5b;
    margin-top: 50px;
    font-size: 16px;
}

.top-merchant-area .btn {
    font-size: 16px;
    height: 42px;
    margin-top: 15px;
    float: right;
}

.form-merchant input {
    border: 0;
    border-radius: 50px;
    box-shadow: none;
    font-size: 24px;
    height: 40px;
    text-align: center;
    padding: 0 0 3px 0;
}

.form-merchant input {
    width: 63%;
    float: left;
}

.form-merchant {
    max-width: 560px;
    margin: 0 auto;
}

.form-merchant button {
    width: 34%;
    float: right;
    font-size: 16px;
    height: 40px;
}

.modal-header .close {
    background: url(../img/close.png) 0 0 no-repeat;
    background-size: contain;
    font-size: 0;
    width: 50px;
    height: 50px;
    opacity: 1;
    outline: none;
    position: absolute;
    z-index: 99;
    right: 18px;
    margin-top: 2px;
}

.modal-header .close:hover {
    opacity: 0.8;
}

.modal-header {
    background: #e2f1f0;
    border: 0;
    border-radius: 20px 20px 0 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.modal-content {
    border-radius: 20px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    color: #3496af;
    padding-left: 0;
    padding-right: 0;
}

.oval-input {
    border: 0;
    box-shadow: none;
    font-size: 18px;
    height: 42px;
    padding-top: 0;
    text-align: center;
    width: 285px;
    background-color: #E2F1F0;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    margin: 25px auto;
    display: block;
}


.enter-modal button {
    margin: 0 auto 50px auto;
    display: block;
    width: 160px;
    height: 42px;
    font-size: 16px;
}



/* merchant-page */

.top-merchant-area {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    max-width: 920px;
    margin: 0 auto;
}

.merchant-padding {
    color: #404141;
}

.merchant-padding {
    margin-top: 15px;
}

.top-merchant-area {
    margin-top: 45px;
}

.bottom-merchant-area {
    background: #f5f5f5;
    padding: 0;
    border-radius: 10px;
    max-width: 920px;
    margin: 0 auto;
}

.merchant-padding table thead tr th {
    padding: 20px 30px;
    border-bottom: 1px solid #fff;
}

.merchant-padding table tbody tr td {
    padding: 20px 30px;
    border-bottom: 1px solid #fff;
}

.merchant-page+.content-page-code h5 {
    font-weight: bold;
    font-size: 18px;
    color: #404141;
    margin-top: 50px;
}

.merchant-padding th:first-child {
    width: 70%;
}

.top-merchant-area strong {
    clear: both;
    display: block;
    color: #404141;
    font-size: 16px;
}

.top-merchant-area p {
    color: #404141;
    margin-bottom: 0;
    margin-top: 3px;
    font-size: 16px;
}

.top-merchant-area p i {
    font-size: 18px;
}



/* modals */

.modal .form-merchant {
    margin-top: 30px;
}

.modal .form-merchant input {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}


.modal-body {
    overflow: hidden;
}

.notification-success {
    color: #82ea7e;
    border: 1px solid #82ea7e;
    border-radius: 15px;
    padding: 15px 20px;
}

.notification-area {
    margin-top: 30px;
}

.notification-success p {
    text-align: center;
    color: #45af80;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.notification-success strong {
    padding-bottom: 5px;
}

.notification-success strong {
    display: block;
    text-align: center;
    font-weight: 900;
    color: #45af80;
    font-size: 24px;
}

.modal .form-merchant {
    padding-bottom: 40px;
}

.notification-error {
    color: #f8303a;
    border: 1px solid #f8303a;
    border-radius: 15px;
    padding: 15px 50px;
}

.notification-error:before {
    position: absolute;
    content: '';
    background: url(../img/error.png) 0 0 no-repeat;
    width: 35px;
    height: 35px;
    background-size: contain;
    left: 12px;
    margin-top: -5px;
}

.notification-error p {
    font-size: 16px;
    text-align: center;
}

.notification-error strong {
    text-align: center;
    color: #f8303a;
    font-size: 16px;
    display: block;
    font-weight: normal;
}


.pokemon-modal-area ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
}

.pokemon-modal-area ul li {
    padding: 0;
    margin: 0 0 30px 0;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    float: none;
    width: 162px;
}

.big-modal .modal-body {
    padding-top: 47px;
    padding-bottom: 25px;
}

.pokemon-modal-area ul li img {
    display: block;
    margin: 0 auto;
}

.pokemon-modal-area ul li p {
    text-align: center;
}

.modal-form h6 {
    text-align: center;
    font-size: 18px;
}

.modal-form .w100-input {
    width: 100%;
}

.modal-dialog.middle-modal .modal-form {
    max-width: 560px;
    margin: 0 auto;
}

.modal-dialog.middle-modal .modal-form {
    padding-bottom: 40px;
}

.notification-success span {
    font-weight: bold;
}

.modal-dialog.middle-modal button.btn.btn-primary {
    margin-bottom: 0;
}

ul.nav.navbar-nav li {
    opacity: 1;
}